<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Summary</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Order Summary</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Menu Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderItem : ${order.orderItems}">
                    <td th:text="${orderItem.menu.name}"></td>
                    <td th:text="${orderItem.quantity}"></td>
                    <td th:text="${orderItem.menu.price * orderItem.quantity}"></td>
                </tr>
            </tbody>
        </table>
        <h2>Total Amount: <span th:text="${order.totalAmount}"></span></h2>
    </div>
</body>
</html>
